<%= form_for @book do |f| %>
  <%= f.hidden_field :user_id %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>
  
  <p>
    <%= f.label :speed %>
    <%= f.text_field :speed , :value => "150" %>
  </p>
<p>
  <% User.find(session[:user_id]).photos.all.each do |p| %>

    <%= image_tag(p.url, height: '100', width: '100') %>
    <%= check_box_tag('photos[]', p.id ) %>
    <%= p.id   %>
  <% end %>
  </p>
  
  <%= f.submit %>
<% end %>