<%= form_for @book do |f| %>
  <%= f.hidden_field :user_id %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>
  
  <% User.find(session[:user_id]).photos.all do |p| %>
  <p>
    testing
  </p>
  <% end %>
  
  <%= f.submit %>
<% end %>