<<<<<<< HEAD
<p><%= @user.name %>'s Flipbook "<%= @book.name %>"</p>
=======

>>>>>>> 10e07154f6e5ef377b60ab2d256a55388cd90158
<br>
<br>

<% @book.photos.each do |p| %>

  <%= image_tag(p.url, height: '200', width: '200', hidden: true) %>

<% end %> 

<p><%= @book.description %></p>
<%# link_to("Add photo", "/flipbks/#{@book.id}/addphoto") %>

<br>
<br>
<%= link_to("Delete Flipbook", flipbk_path(@book.id), :method => :delete ) %>