<p><%= @user.name %>'s Flipbook "<%= @book.name %>"</p>
<br>
<br>

<% @book.photos.each do |p| %>

  <%= image_tag(p.url, height: '62', width: '62') %>

<% end %> 

<p><%= @book.description %></p>
<%# link_to("Add photo", "/flipbks/#{@book.id}/addphoto") %>

<br>
<br>
<%= link_to("Delete Flipbook", flipbk_path(@book.id), :method => :delete ) %>