<!-- INITIALIZES THE ACTUAL FACEBOOK JS API, DO NOT REMOVE -->
<!-- put inside of eventual body tag -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      // appId      : '{1492301310990221}',
      status     : true,
      xfbml      : true
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<!-- put inside of eventual body tag -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1492301310990221";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- THE FACEBOOK BUTTON ITSELF -->
<!-- This is the "share" button that is found in the private user profile, so that the user can share their public page via their private profile view -->
<div class="fb-share-button" data-href="https://flipbook-ocs.herokuapp.com/public/show/<%= @user.id %>" data-width="55" data-type="button"></div>

<%= @user.name %>'s book <%= @book.name %>
<br>
<br>

<% @book.photos.each do |p| %>

  <%= image_tag(p.url, height: '62', width: '62') %>

<% end %>
<%# link_to("Add photo", "/flipbks/#{@book.id}/addphoto") %>

<br>
<br>
<%= link_to("Delete Flipbook", flipbk_path(@book.id), :method => :delete ) %>