<body>


  
  <div id="flipbooks_show">
    
    <h2><%= @book.user.name %>'s flipbook, <%= @book.name %></h2>
    
    <div id="flipbook_show_photos">


      <%= image_tag(@book.url, height: '450', width: '450') %>


    </div>
    
    <h3 id="flipbook_description"><%= @book.description %></h3>


    <ul id="settings">
    <% if current_user && current_user.id == @book.user_id %>
    
    <li><%= link_to("Edit flipbook", "/flipbks/#{@book.id}/edit") %></li>

    <li><%= link_to("Delete flipbook", flipbk_path(@book.id), :method => :delete, :class =>                       :margin ) %></li>

    <li><%= link_to("Your Profile", user_url(current_user.id), :class => :margin) %></li>
    <% else %>

    <% end %>
    </ul>
    
    <% if @book.public %>

      <a title='circletwitterbird' onclick="return !window.open(this.href, 'Twitter', 'width=640,height=300')" class='symbol popup' href="http://twitter.com/share" ></a>
  
      <a title="circlefacebook" class="symbol facebook" target="_blank" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="http://www.facebook.com/sharer/sharer.php?u=<%=request.original_url%>"></a>   
    
      <a title='circletumblr' onclick="return !window.open(this.href, 'Tumblr', 'width=640,height=300')" class='symbol popup' href="http://tumblr.com/share" ></a>
      <% end %>
  </div>
</body>