<body>

  <script type="text/javascript">
  var index=0;
  function changeBanner(){ 
    [].forEach.call(document.images,function (v,i) { document.images[i].hidden = i!==index});
    index = (index+1) % document.images.length;
  }
  window.onload = function () {setInterval(changeBanner, <%= @book.speed || 100 %>)};
  </script>
  
  <div id="flipbooks_show">
    
    <h2><%= @book.user.name %>'s flipbook, <%= @book.name %></h2>
    
    <div id="flipbook_show_photos">
    <% @book.photos.each do |p| %>

      <%= image_tag(p.url, height: '450', width: '450', hidden: true) %>

    <% end %> 
    </div>
    
    <h3 id="flipbook_description"><%= @book.description %></h3>


    <ul id="settings">
    <% if current_user && current_user.id == @book.user_id %>
    
    <li><%= link_to("Edit flipbook", "/flipbks/#{@book.id}/edit") %></li>

    <li><%= link_to("Delete flipbook", flipbk_path(@book.id), :method => :delete, :class =>                       :margin ) %></li>

    <li><%= link_to("Your Profile", user_url(current_user.id), :class => :margin) %></li>
    <% else %>

    <% end %>
    </ul>
  </div>
</body>