<body>

<div id="main">
  
  <div id="flipbooks_show">
    
    <h2><%= @book.user.name %>'s Flipbook <%= @book.name %></h2>
    
    <div id="flipbook_show_photos">


      <%= image_tag(@book.url, height: '450', width: '450') %>


    </div>
    
    <h3 id="flipbook_description"><%= @book.description %></h3>


    <ul id="settings">
    <% if current_user && current_user.id == @book.user_id %>
    
    <li><%= link_to("Change Flipbook", "/flipbks/#{@book.id}/edit") %></li>

    <li><%= link_to("Delete Flipbook", flipbk_path("delete/#{@book.id}"), method: :delete, :class => :margin )            %></li>

    <li><%= link_to("Your flipbooks", user_url(current_user.id), :class => :margin) %></li>

    <% else %>

    <% end %>
    </ul>
  </div>
  
</div>
</body>