  <script type="text/javascript">
    var index=0;
    function changeBanner(){ 
      [].forEach.call(document.images,function (v,i) { document.images[i].hidden = i!==index});
      index = (index+1) % document.images.length;
    }
    window.onload = function () {setInterval(changeBanner, <%= @book.speed || 100 %>)};
  </script>
  
  <%#  %>
<%= @book.user.name %>'s book <%= @book.name %>

<br>
<br>

<% @book.photos.each do |p| %>

  <%= image_tag(p.url, height: '450', width: '450', hidden: true) %>

<% end %> 

<p><%= @book.description %></p>

<% if current_user && current_user.id == @book.user_id %>
  <%= link_to("Change Flipbook", "/flipbks/#{@book.id}/edit") %>

  <%= link_to("Delete Flipbook", flipbk_path(@book.id), :method => :delete ) %>

  <%= link_to("Back to list", :flipbks) %>
<% else %>

<% end %>