<body>
  <div id="fb_main">
    <h2>Edit Profile</h2>
    
          <div id="errors">
          <%= form_for @user do |f| %>
            <% if @user.errors.any? %>
                  <% @user.errors.full_messages.each do |error_msg| %>
                    <li><%= error_msg %></li>
                  <% end %>
            <% end %>
          </div>

          <div id="edit_form">
            <ul id="edit_fields">
            <li>
              <%= f.label "Name" %>
              <%= f.text_field :name %>
            </li>
  
            <li>
              <%= f.label "Email" %>
              <%= f.text_field :email %>
            </li>
  
            <li>
              <%= f.label "Password" %>
              <%= f.password_field :password %>
            </li>
  
            <li>
              <%= f.label "Confirm" %>
              <%= f.password_field :password_confirmation %>
            </li>
            <%= f.submit "Save", :class => 'button' %>
          </ul>
          </div>

          <% end %>
        </div> 
    </div>
  </div>
  
</div>



