<!DOCTYPE html>
<html>
<body>

<div id="profile" class="clearfix">
  
  <div id="profile_left">
    <div id="avatar">
      <%= gravatar_tag User.find(params[:id]), :size => 150 %>
    </div>
  </div>
    
  <div id="profile_right">
    <div id="name">
        <h2><%= current_user.name %></h2>
    </div> 
  
    <div id="profile_nav">
      <ul id="profile_links">
        
        <li id="connect_instagram">
          <a href="/oauth/connect">Connect with Instagram</a>
        </li>

        <li>
          <a href="<%= new_flipbk_path %>">Create New Flipbook</a>
        </li>
   
        <li id="view_public">
          <%= link_to("Your Public Profile", profile_url(current_user.id)) %>
        </li>

        <li>
          <%= link_to("Edit Your Profile", edit_user_url(session[:user_id])) %>
        </li>
        
      </ul>
    </div>
  </div>

  
  <div id="show_flipbooks" class="clearfix">

    <p>Your flipbooks:</p>

    <div id="flipbook_index_list">
      <% @user.flipbks.each do |book| %>
    <p>
      <% book.delete if book.photos.all.empty? %>
      <%=  link_to(image_tag(book.photos.all.first.url,:alt => book.name, :size => "120x120"),                      flipbk_path(book.id)) if !(book.photos.all.empty?) %>
    </p>
      <% end %>
    </div>

  </div>
  
</div>

</body>
</html>
