<%= form_for @photo do |f|%>

  <%= f.hidden_field :flipbook_id,{:value => params[:id]} %>
  <p>
  <%= f.label :description  %>
  <%= f.text_field :description %>
  </p>
  <p>
  <%= f.label :url  %>
  <%= f.text_field :url %>
  </p>
  
  
  <%= f.submit %>
<% end %>