<!-- <% i = 0 %>
<% @users.each do |u| %>
  <% i += 1%>
  <div class="show_flipbk<%= i %>">
    <% #photo = u.photos.find(u.id) %>
    <img src="<%= u.photos %>" alt="<%=u.name%>">
  </div>
  <% i = 0 if i == 3 %>
<% end %> -->

<!DOCTYPE html>
<html>
<body>
  
<div id="main" class="clearfix">
  
  <div id="main_left">
    <div id="tagline">
        <h1>flipbook</h1>
        <h2>Animate your process.</h2>
    </div>
  
    <div id="signup">
        <div id="hp_form">
          <% if !current_user %>
            <%= render :partial => "form" %>
          <% else %>
            <p><%= current_user.name %>,<%= link_to("see your flipbooks >", user_url(current_user.id)) %></p>
          <% end %>
        </div> 
    </div>
  </div>
  
  <div id="main_right">
    <div id="hp_flipbk">
      <video src=“flipbook.mp4” autoplay loop>
           Your browser doesn’t support this video. Consider downloading Chrome.
      </video>
    </div>
  </div>
  
</div>
  
  <div id="midline">
    <h3>Discover our flipbooks.</h3>
  </div>
  


</body>
</html>