<!-- <% i = 0 %>
<% @users.each do |u| %>
  <% i += 1%>
  <div class="show_flipbk<%= i %>">
    <% #photo = u.photos.find(u.id) %>
    <img src="<%= u.photos %>" alt="<%=u.name%>">
  </div>
  <% i = 0 if i == 3 %>
<% end %> -->

<!DOCTYPE html>
<html>
<head>
  <script>
  jQuery(document).ready(function($) {
    $('a[rel*=facebox]').facebox() 
  })
  $.facebox.settings.closeImage = '/assets/closelabel.png'
  $.facebox.settings.loadingImage = '/assets/loading.gif'
  </script>
  </head>
<body>
  
<div id="main" class="clearfix">
  
  <div id="main_left">
    <div id="tagline">
        <h1>flipbook</h1>
        <h2>Animate your process.</h2>
    </div>
  
    <div id="signup">
        <div id="hp_form">
          <% if !current_user %>
            <%= render :partial => "form" %>
          <% else %>
            <p><%= current_user.name %>,<%= link_to("see your flipbooks >", user_url(current_user.id)) %></p>
          <% end %>
        </div> 
    </div>
  </div>
  
  <div id="main_right">
    <div id="hp_flipbk">
      <video autoplay loop>
          <source src="videos/flipbook.mp4" type="video/mp4">
           Your browser doesn’t support this video. Consider downloading Chrome.
      </video>
    </div>
  </div>
  
</div>
  
  <div id="midline">
    <h3>Discover our flipbooks</h3>
  </div>

  <div id="hp_public_fbs" class="clearfix">
    <div id="public_fbs">

      <% @public_flipbks.each do |f| %>
        <li class="flipbook">
          <a rel="facebox" href="<%= f.url %>">
            <img src="<%= f.photos.all.first.url %>" width="204" height="204"></img>
          </a>
        </li>
      <% end %>
    </div>
  </div>

</body>
</html>